
{{#if (not keyboardIsShowing)}}

<footer id="main-footer">
    <table class="table-borderless">
        <tbody>
            <tr>
                <td id="celda">
                    <a href="#/cliente">
                    <img src="icons/factura.svg" width="40" height="40"> </a>
                </td><td id="celda">
                    <a href="">
                    <img src="icons/factura.svg" width="40" height="40"> </a>
                </td><td id="celda">
                    <a href="">
                    <img src="icons/factura.svg" width="40" height="40"> </a>
                </td><td id="celda">
                    <a href="">
                    <img src="icons/factura.svg" width="40" height="40"> </a>
                </td>
            </tr>
        </tbody>
    </table>
</footer>
{{/if}}