
@import "ember-cli-bootstrap-4/bootstrap";

#main-footer {        
    background: #2b4c7f;
    height: 60px;
    text-align: center;
    padding: 12px;                
    width: 100%; 
    position: fixed;
    bottom: -1px;
}


