<div class="container haed-menu">

    <div class="col-12">
        <p>
            <b>Instrucciones:</b> Llena todos los datos para dar de alta al cliente.
        </p>

        <b>RFC</b>
      <div class="form-group">
            <div class="col-12">
                {{input type='text' class="form-control"}}
            </div>
        </div>

        <b>Nombre o razón social</b>
       <div class="form-group">
            <div class="col-12">
                {{input type='text' class="form-control"}}
            </div>
        </div>

        <b>Email</b>
        <div class="form-group">
            <div class="col-12">
                {{input type='text' class="form-control"}}
            </div>
        </div>

        <b>Código postal</b>
        <div class="form-group">
            <div class="col-12">
                {{input type='text' class="form-control"}}
            </div>
        </div>
    </div>

    <b class="col-12">Calle</b>
    <div class="form-group">
        <div class="col-12">
            {{input type='text' class="form-control"}}
        </div>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <b>num ext</b>
                <div class="form-group">
                    {{input type='text' class="form-control"}}
                </div>
            </div>
            <div class="col-6">
                <b>num int</b>
                {{input type='text' class="form-control"}}
            </div>
        </div>
    </div>

    <b class="col-12">colonia</b>
    <div class="form-group">
        <div class="col-12">
            {{input type='text' class="form-control"}}
        </div>
    </div>

    <br>

    <div class="col-12">
        <label>
            <input type="checkbox" id="ckbINE">
            <b> Marque la casilla si este cliente es un partido o candidato político (Complemento INE)</b>
        </label>

        <br>
        <br>

        <div class="ocultardiv" id="campania">
            <b>Tipo de Proceso</b>
          <div class="form-group">
            <div class="col-12">
                {{input type='text' class="form-control"}}
            </div>
        </div>

            <b>Tipo de Comité</b>
          <div class="form-group">
            <div class="col-12">
                {{input type='text' class="form-control"}}
            </div>
        </div>

            <b>Clave de Contabilidad</b>
            <div class="form-group">
                <input type="text" class="form-control" disabled>
            </div>
        </div>
    </div>

    <br>
    <hr>
    <br>

</div>